body {
  margin: 0;
  font-family: "Raleway";
}

.navbar {
  border: 0;
  background-color: #FFA818;
}

.navbar .container {
  padding-top: 1%;
  padding-bottom: 1%;
}

.navbar .navbar-brand {
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
}

.nav.navbar-nav.navbar-right li a {
  border: 1px;
  color: #FFF;
  font-size: 18px;
  padding: 20px;
}

.nav.navbar-nav.navbar-right li a:hover {
  border: 1px solid #FFF;
}

.jumbotron {
  background-color: #FFA818;
  color: #FFF;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;
}

.jumbotron .btn {
  border: 1px solid #FFA818;
  background-color: #FFF;
  color: #FFA818;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 10px;
}

.jumbotron .btn:hover {
  border: 1px solid #FFF;
  background-color: #FFA818;
  color: #FFF;
}

section {
  margin-top: 0;
  margin: auto;
  text-align: center;
}

section .container {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 70%;
}

section h1 {
  margin-bottom: 50px;
}

section p {
  font-size: 18px;
  font-weight: 100;
  line-height: 30px;
  width: 80%;
  margin: auto;
  text-align:justify;
}

section .thumbnail {
  border: 0;
}

.orange {
  background-color: #FFA818;
  color: #FFF;
}

.grey {
  background-color: #EFEFEF;
}

.wide .container {
  width: 80%;
}

#contact {
  background-color:#222;
  background-image: url(../img/map-image.png);
}

#contact h1 {
  color: #FFF;
}

#contact button {
  border: 1px;
  background-color: #FFF;
  color: #FFA818;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 10px;
}

#contact button:hover {
  border: 1px solid #FFF;
}

footer {
  margin: auto;
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}
